name: Reusable CD - AKS

on:
    workflow_call:
        inputs:
            service_name:
                type: string
                required: true
            dockerfile_path:
                type: string
                required: true
            manifests_path:
                type: string
                required: true
            namespace:
                type: string
                required: true
            acr_name:
                type: string
                required: true

jobs:
    deploy:
        runs-on: ubuntu-latest
        permissions:
            id-token: write
            contents: read

        steps:
            - uses: actions/checkout@v4

            - name: Azure Login (OIDC)
              uses: azure/login@v2
              with:
                  client-id: ${{ secrets.ARM_CLIENT_ID }}
                  tenant-id: ${{ secrets.ARM_TENANT_ID }}
                  subscription-id: ${{ secrets.ARM_SUBSCRIPTION_ID }}

            - name: Generate Image Tag
              run: |
                  SHORT_SHA=${GITHUB_SHA::7}
                  echo "IMAGE_TAG=${SHORT_SHA}" >> $GITHUB_ENV

            - name: Docker Build
              uses: ./.github/actions/docker-build
              with:
                  dockerfile_path: ${{ inputs.dockerfile_path }}
                  image: ${{ inputs.service_name }}
                  tag: ${{ env.IMAGE_TAG }}

            - name: Docker Push
              uses: ./.github/actions/docker-push
              with:
                  image: ${{ inputs.service_name }}
                  tag: ${{ env.IMAGE_TAG }}
                  acr_name: ${{ inputs.acr_name }}

            - name: Get AKS Credentials
              run: |
                  az aks get-credentials \
                    --name dev-aks \
                    --resource-group dev-rg \
                    --overwrite-existing

            - name: Deploy to AKS
              uses: ./.github/actions/kubectl-deploy
              with:
                  manifests_path: ${{ inputs.manifests_path }}
                  namespace: ${{ inputs.namespace }}
                  image: ${{ inputs.acr_name }}.azurecr.io/${{ inputs.service_name }}:${{ env.IMAGE_TAG }}
