name: Reusable Terraform Plan

on:
    workflow_call:
        inputs:
            tf_dir:
                required: true
                type: string

permissions:
    contents: read
    id-token: write

jobs:
    plan:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Azure Login (OIDC)
              uses: azure/login@v1
              with:
                  client-id: ${{ secrets.AZURE_CLIENT_ID }}
                  tenant-id: ${{ secrets.AZURE_TENANT_ID }}
                  subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

            - uses: ./.github/actions/terraform-init
              with:
                  tf_dir: ${{ inputs.tf_dir }}

            - uses: ./.github/actions/terraform-validate
              with:
                  tf_dir: ${{ inputs.tf_dir }}

            - name: Terraform Plan
              shell: bash
              run: |
                  cd ${{ inputs.tf_dir }}
                  terraform plan -no-color
